<?php

declare(strict_types=1);

$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->in(__DIR__);

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setUsingCache(false)
    ->setRules(
        [
            '@DoctrineAnnotation' => true,
            '@PHP73Migration' => true,
            '@PHP71Migration:risky' => true,
            '@PHP70Migration:risky' => true,
            '@PHPUnit75Migration:risky' => true,
            '@Symfony' => true,
            '@Symfony:risky' => true,
            '@PSR2' => true,
            '@PhpCsFixer' => true,
            '@PhpCsFixer:risky' => true,
            '@PHP70Migration' => true,
            '@PHP71Migration' => true,
            'declare_strict_types' => true,
            'random_api_migration' => true,
            'dir_constant' => true,
            'modernize_types_casting' => true,
            'php_unit_construct' => true,
            'psr4' => true,
            'final_internal_class' => true,
            'php_unit_strict' => [
                'assertions' => [
                    'assertAttributeEquals',
                    'assertAttributeNotEquals',
//                    'assertEquals', // This will replace all assertEquals with assertSame that can affect array comparisons
                    'assertNotEquals',
                ],
            ],
            'php_unit_test_case_static_method_calls' => true,
            'strict_comparison' => true,
            'strict_param' => true,
            'date_time_immutable' => true,
            'general_phpdoc_annotation_remove' => true,
            'mb_str_functions' => true,
            'no_multiline_whitespace_before_semicolons' => true,
            'no_php4_constructor' => true,
            'no_superfluous_phpdoc_tags' => [
                'allow_mixed' => true,
            ],
            'not_operator_with_space' => true,
            'not_operator_with_successor_space' => true,
            'ordered_interfaces' => true,
            'php_unit_size_class' => true,
            'phpdoc_to_return_type' => true,
            'static_lambda' => true,
        ]
    )
    ->setFinder($finder);
