parameters:
    paths:
        - src/
    level: max
#  symfony:
#    container_xml_path: '%rootDir%/../../../var/cache/dev/srcApp_KernelDevDebugContainer.xml'
includes:
    - vendor/ekino/phpstan-banned-code/extension.neon
